name: Docker Build and Push

on:
  push:
    tags:
      - "v*.*"
      - "v*.*.*"
  workflow_dispatch:

env:
  IMAGE_NAME: docker2compose
  DOCKERFILE: ./Dockerfile
  PLATFORMS: linux/amd64,linux/arm64,linux/arm/v7
  DEFAULT_BRANCH: master

jobs:
  build:
    name: Build and Push
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # 只登录 Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 构建版本号
      - name: Get Version
        id: version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      # 构建和推送
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ env.DOCKERFILE }}
          platforms: ${{ env.PLATFORMS }}
          push: true
          tags: |
            coracoo/${{ env.IMAGE_NAME }}:${{ steps.version.outputs.VERSION }}
            coracoo/${{ env.IMAGE_NAME }}:latest
          no-cache: true
          build-args: |
            BUILD_DATE=${{ github.event.head_commit.timestamp }}
            VCS_REF=${{ github.sha }}
            VERSION=${{ steps.version.outputs.VERSION }}
